
@{
    ViewData["Title"] = "Details";
}
@model MediaMonitor.Application.DtoObjects.MovieDto

    <div style="display:flex;justify-content:space-around;align-items:flex-start">
        <div style="flex-grow:2;padding-right:1em">
            <h1>@Model.LocalTitle</h1>
            <p>@Model.DescriptionLong</p>
            <h4>Written by @Model.Writer</h4>
            <h4>Directed by @Model.Director</h4>
        </div>
        <div style="flex-grow:1;padding-left:1em">
            <img src="@Model.Thumbnail" />
        </div>
    </div>